.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-content {
    flex: 1;
    /* Pushes the footer to the bottom if content is sparse */
}

html {
    scroll-behavior: smooth !important;
    /* disable smooth scroll globally */
}