# Core Env
POSTGRES_USER=cinematch_movies_admin
POSTGRES_PASSWORD=cinematch_movies_password
POSTGRES_DB=cinematch_movies_db
POSTGRES_HOST=movies_db
POSTGRES_PORT=5432

# Gateway Env
PORT=3000
NODE_ENV=development
JWT_SECRET=dev_secret_change_me
JWT_EXPIRES_IN=1h
DATABASE_URL="postgresql://cinematch_users_admin:cinematch_users_password@localhost:5433/cinematch_users_db?schema=public"