PORT=3000
NODE_ENV=development

JWT_SECRET=dev_secret_change_me
JWT_EXPIRES_IN=1h

POSTGRES_USER=cinematch_users_admin
POSTGRES_PASSWORD=cinematch_users_password
POSTGRES_DB=cinematch_users_db
POSTGRES_HOST=users_db
POSTGRES_PORT=5432

CORE_SERVICE_URL=http://core:8000
AVATAR_PUBLIC_BASE_URL=http://localhost:9000/cinematch-avatars