# Core Env
POSTGRES_USER=cinematch_movies_admin
POSTGRES_PASSWORD=cinematch_movies_password
POSTGRES_DB=cinematch_movies_db
POSTGRES_HOST=movies_db
POSTGRES_PORT=5432

# S3 / minIO 
S3_ENDPOINT_URL=http://s3-storage:9000
S3_ACCESS_KEY_ID=minio_admin
S3_SECRET_ACCESS_KEY=minio_password
S3_BUCKET_NAME=cinematch-posters
S3_REGION=us-east-1

# RabbitMQ
RABBITMQ_USER=rmq_admin
RABBITMQ_PASSWORD=rmq_password
RABBITMQ_HOST=rabbitmq 
RABBITMQ_PORT=5672